#Title {
    flex-shrink: 0;
    height: 10%;
    font-size: 48px;
    -unity-text-align: middle-center;
}

.forest-button {
    width: 48px;
    height: 48px;
    margin: 0;
    min-height: initial;
    min-width: initial;
    max-width: initial;
    max-height: initial;
    flex-wrap: nowrap;
    align-items: center;
    cursor: initial;
    flex-shrink: 0;
    justify-content: center;
}

.mountain {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(101, 101, 101);
    background-image: url('project://database/Assets/sprites/tilesets/map_tiles/mountain_tile_2.png?fileID=2800000&guid=0b558cbc00e8b5c4791686c731170d23&type=3#mountain_tile_2');
}

.river {
    -unity-background-image-tint-color: rgb(144, 144, 144);
    background-color: rgb(0, 7, 255);
    background-image: url('project://database/Assets/sprites/tilesets/map_tiles/water_tile_1.png?fileID=2800000&guid=d4702910eb5d7d14e87d02cb79035a7f&type=3#water_tile_1');
}

.swamp {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(0, 96, 16);
    background-image: url('project://database/Assets/sprites/tilesets/map_tiles/swamp_tile_2.png?fileID=2800000&guid=51286047bf7e91446a17d6daae849a5c&type=3#swamp_tile_2');
}

.plain {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(109, 226, 65);
    background-image: url('project://database/Assets/sprites/tilesets/map_tiles/grass_tile_2.png?fileID=2800000&guid=96847f18c07d1654ca66b3034eeb304a&type=3#grass_tile_2');
}

.row {
    height: auto;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;
}

.tree-preview {
    background-image: url('project://database/Assets/sprites/tilesets/map_tiles/tree-preview.png?fileID=2800000&guid=5b3fed482f310e649ae7fc8eceecb5b9&type=3#tree-preview');
    width: 32px;
    height: 32px;
}

.tundra {
    background-image: url('project://database/Assets/sprites/tilesets/map_tiles/tundra_tile_1.png?fileID=2800000&guid=30391d8aae4fd854db0421741454bce9&type=3#tundra_tile_1');
}

.imgui-container {
}

.imgui-container:hover {
    scale: 1 1;
    rotate: -10deg;
}
